extends layout

block content

	h1(style='text-align: center;')= title
	.row
		.span6.offset3
			p For now, my blog is under construction. Let's be honest here, this means that it is offline
				| indefinitely. It won't be too hard to whip one up, but I want to put it off for now and
				| at least be honest with you instead of saying "check back soon."
			p I'll be tweeting primarily, and maybe if I need to write something I'll find a temporary solution
				| until I can fix this one up. Smiley face.