extends layout

block content
	.hero-unit
		.row
			.span3
				//div.big-round
				#pic_ousel.carousel.slide
					.carousel-inner.big-round
						.active.item: img(src='/img/profile.jpg', class='img-circle')
						.item: img(src='/img/keep_calm_node_on.jpg', class='img-circle')
						.item: img(src='/img/graduate_smiles.jpg', class='img-circle')
						.item: img(src='/img/project_manage_it.jpg', class='img-circle')
					ol.carousel-indicators
						li.active(data-target='#pic_ousel', data-slide-to='0')
						li(data-target='#pic_ousel', data-slide-to='1')
						li(data-target='#pic_ousel', data-slide-to='2')
						li(data-target='#pic_ousel', data-slide-to='3')

			.span7
				h1 Hi. I'm Stephen.
				- var date = new Date().getFullYear()
				p I've got a daughter who is about #{date - 2004} years old, and we love living in Florida and chasing our dreams. Oh, and also I'm a web developer, who likes to make things in&nbsp;
					a(href='http://nodejs.org') node.js
					| .
				p After you're done here,&nbsp;
					a(href='/contact') we should chat
					| .
				// get icons for these
				p.pull-right
					a(href='https://twitter.com/sprjrx').icon.twitter Twitter
					a(href='http://www.linkedin.com/in/stephenrivasjr/').icon.linkedin LinkedIn
					a(href='https://github.com/sprjr').icon.github GitHub
					//a(href='http://zeunic.com/').icon.zeunic Zeunic, LLC.

	.row
		.span8
			h2 Things Have Been Said
			include static/quotes
		.span4
			h4 Tweet, Tweet.
			include widgets/tweets