extends layout

block content

	h1 Hi. I'm Stephen.
	- var date = new Date().getFullYear()
	p I'm a web developer who likes to make things in node.js. I have a daughter, Aria Nicole, who is about #{date-2004}.