extends layout

block content
	.hero-unit
		.row
			.span3
				//div.big-round
				#pic_ousel.carousel.slide
					.carousel-inner.big-round
						.active.item: img(src='/img/profile.jpg', class='img-circle')
						.item: img(src='/img/keep_calm_node_on.jpg', class='img-circle')
						.item: img(src='/img/graduate_smiles.jpg', class='img-circle')
						.item: img(src='/img/project_manage_it.jpg', class='img-circle')
					ol.carousel-indicators
						li.active(data-target='#pic_ousel', data-slide-to='0')
						li(data-target='#pic_ousel', data-slide-to='1')
						li(data-target='#pic_ousel', data-slide-to='2')
						li(data-target='#pic_ousel', data-slide-to='3')

			.span7
				h1 Hi. I'm Stephen.
				- var date = new Date().getFullYear()
				p I have a daughter who is about #{date - 2004} years old, and we love living in Florida chasing lizards and our dreams together. Oh, and also I'm a web developer, who likes to make things in&nbsp;
					a(href='http://nodejs.org') node.js
					| .
				p After you're done here,&nbsp;
					a(href='/contact') we should chat
					| .
				// get icons for these
				p.pull-right
					a(href='https://twitter.com/sprjrx').icon.twitter Twitter
					a(href='http://www.linkedin.com/in/stephenrivasjr/').icon.linkedin LinkedIn
					a(href='https://github.com/sprjr').icon.github GitHub
					//a(href='http://zeunic.com/').icon.zeunic Zeunic, LLC.

	.row
		.span8
			h2 Sometimes I make things.
			.row
				.span4
					.row
						p.span1: img(src='/img/project_thumbs/zeunic.png', width='75')
						.span3
							h4 Zeunic, LLC.
							p
								a(href="http://zeunic.com") Website
								| &nbsp;|&nbsp;
								a(href="http://forge.zeunic.com") Blog
					.row
						p.span1: img(src='/img/project_thumbs/nodesecurity.png', width='75')
						.span3
							h4 NodeSecurity Contributor
							p
								a(href="http://blog.nodesecurity.io/post/50349265760/contributor-spotlight-stephen-rivas-jr") Contributor Spotlight
					.row
						p.span1: img(src='/img/project_thumbs/hostkit.png', width='75')
						.span3
							h4 HostK.it
							p
								a(href="http://joyent.com/developers/videos/node-summit-stephen-rivas-jr-host-kit") NodeJam
								| &nbsp;|&nbsp;
								a(href="http://www.youtube.com/watch?v=PQ64dohTWiY") Presentation
								| &nbsp;|&nbsp;
								a(href="http://hostk.it") Site
				.span4
					.row
						p.span1: img(src='/img/project_thumbs/nodeorlando.png', width='75')
						.span3
							h4 Node Orlando Group
							p
								a(href="http://node-orlando.tumblr.com") Site
								| &nbsp;|&nbsp;
								a(href="http://www.meetup.com/orlando-node-js") Meetups
								| &nbsp;|&nbsp;
								a(href="http://twitter.com/node_orlando") Twitter
					.row
						p.span1: img(src='/img/project_thumbs/globlme.png', width='75')
						.span3
							h4 Globl.me API & Graph
							p
								a(href="http://globl.me") Website
								| &nbsp;|&nbsp;
								a(href="https://github.com/zeunic/globlme-api") Repository
					.row
						.span4
							p(style='margin-top: 30px') ...and more. For details, check out my
								a(href="/work")  work.
		.span4
			h4 Tweet, Tweet.
			include widgets/tweets

	script(type='text/javascript')
		$(document).ready(function(){
			var pic_ousel = $('#pic_ousel'),
				title = $('h1'),
				headers = new String( "!{headers}" ).split(',', 4);
			pic_ousel.carousel({ 'interval' : 7000, 'pause' : 'hover' }).on('slid', function(e){
				var curIdx = pic_ousel.find('.active').index('#pic_ousel .item');
				title.html(headers[curIdx]);
			});
		});