extends layout

block content

	.row
		.span4
			h3 Stephen Rivas Jr.
			ul
				li Project Manager
				li Web &amp; Mobile Developer

			h4 Awards & Honors
			ul.unstyled
				li
					h5 Valedictorian
					p.muted Class of 2011 - Full Sail University
				li
					h5 Advanced Achievement
					p.muted Class of 2011 - Full Sail University
				li
					h5 Audience Choice Award
					p.muted NodeJam Entry, NodeSummit 2011
				li
					h5 WorldVision Design Contest
					p.muted Rebrand/Energize Proposal
				li
					h5 Course Director Awards
					p.muted 2009 - 2011 Full Sail University
					ul
						li Mobile Device Development
						li Deployment of Flash Projects
						li Web Project Preproduction
						li Flex Frameworks
						li Applied Design Tools & Interfaces
		.span8
			.well
				p Hello, my name is Stephen Rivas Jr., I am a web developer and project manager.
					| In my experience developers, clients, and project managers all speak different languages
					| while building toward the same goal. I speak all three languages. I aim to keep communication
					| effective, and make sure every member of the project team &#151; clients included &#151;
					| are all able to understand and produce optimal solutions.

			h2 Focus &amp; Skills
			.well
				ul.inline
					li languages: [
					li node.js,
					li coffeescript,
					li javascript,
					li php,
					li stylus,
					li jade
					li ];
				ul.inline
					li databases: [
					li neo4j,
					li couchdb,
					li redis,
					li mysql,
					li mongo
					li ];
				ul.inline
					li concepts: [
					li mvc,
					li mvvm,
					li rvp,
					li module pattern,
					li oop,
					li prototypal inheritance,
					li ux design
					li ];
				ul.inline
					li productivity: [
					li AtTask,
					li TeamBox,
					li Git,
					li BaseCamp,
					li Wunderlist,
					li HarvestApp
					li ];

			h2 Career / experience
			.well
				h3 Zeunic, LLC.
				p.muted.pull-left Orlando, July 2011 - Current |&nbsp;
				p.pull-left owner; project manager; developer
				.clearfix
				ul
					li Day-to-Day Business Management
					li Project & Client Account Management
					li Server Side Development
					li Generated $500k+ Online Client Revenue
					li Achieved Over 1 million combined page views
			.well
				h3 Freelance Developer
				p.muted.pull-left Orlando, Nov 2009 - July 2011 |&nbsp;
				p.pull-left self-employed; web developer; front-end designer
				.clearfix
				ul
					li Consulted with clients to define project vision and goals
					li Produced Solutions for multiple small businesses
					li Balanced multiple projects, school, and life
			.well
				h3 inBurst Design Solutions
				p.muted.pull-left Northern Colorado, 2003 - 2006 |&nbsp;
				p.pull-left owner; web developer; front-end designer
				.clearfix
				ul
					li Collaborated with local Industry Leaders
					li Active Chamber of Commerce Member
					li Produced Solutions for multiple small and medium sized businesses
			h2 Education
			.row
				.span4
					.well
						h4 Full Sail University
						p.muted 2009 - 2011
						p Bachelor of Science
							br
							| Major in Web Design & Development
				.span4
					.well
						h4 Online Courses / Self Taught
						p.muted 1999 - Current
						p Familiar with multiple venues of online, on-going learning