extends layout

block content

	.row
		.span4
			a.thumbnail: img(src="/img/resume.jpg")
			h3 Stephen Rivas Jr.
			ul
				li Web &amp; Mobile Developer
				li Product Manager

			h4 Awards & Honors
			ul.unstyled
				li
					h5 Valedictorian
					p.muted Class of 2011 - Full Sail University
				li
					h5 Advanced Achievement
					p.muted Class of 2011 - Full Sail University
				li
					h5 Audience Choice Award
					p.muted NodeJam Entry, NodeSummit 2011
				li
					h5 WorldVision Design Contest
					p.muted Rebrand/Energize Proposal
				li
					h5 Course Director Awards
					p.muted 2009 - 2011 Full Sail University
					ul
						li Mobile Device Development
						li Deployment of Flash Projects
						li Web Project Preproduction
						li Flex Frameworks
						li Applied Design Tools & Interfaces
		.span8
			.well
				p Hello, I am a full stack developer and product manager who enjoys building products based on the latest, most powerful technologies. I love working with real-time APIs and applications utilizing node.js, and NoSQL datastores like MongoDB.

				p In my experience, not everyone at a company speaks everyone else's language. I aim to keep communication effective, and make sure every member of the project team(s) &#151; clients included &#151; are able to understand each other and produce optimal solutions. I know the aspects of producing applications & product solutions from front to back. This allows me to successfully manage team members at each position along the way.

			h2 Skills
			.well
				ul.inline
					li favorite stack: [
					li ec2,
					li github,
					li node.js,
					li mongodb,
					li backbone.js,
					li express.js,
					li stylus,
					li ejs
					li ];
				ul.inline
					li other tools: [
					li RESTify,
					li hapi.js,
					li nodejitsu cloud,
					li heroku cloud,
					li lodash/underscore,
					li jQuery,
					li sass/stylus,
					li twitter bootstrap,
					li neo4j,
					li couchdb,
					li redis,
					li php,
					li bash
					li ];
				ul.inline
					li concepts: [
					li mvc,
					li mvvm,
					li rvp,
					li module pattern,
					li oop,
					li prototypal inheritance,
					li ux design
					li ];

			h2 Experience
			.well
				h3: a(href="http://thuzi.com/") Thuzi, LLC.
				p.muted.pull-left Tampa, May 2013 - Current |&nbsp;
				p.pull-left full stack developer; product manager
				.clearfix
				ul
					li Developer on custom Event Activation Services Team used by Under Armour, Adidas, Honda, Acura, IndyCar, Verizon, and Purina.
					li Product Manager & Developer for Multi-Tenant Event Activation Platform, which includes Full Stack Responsibilities in:
						ul
							li Deployment Ops
							li Server Side & Database Architecture
							li Front-End Development
							li User Experience Design
							li On-site Product Field Testing & Training
							li Product Features vs Client Needs Assessment
							li Team Workflow and Process
			.well
				h3: a(href="http://zeunic.com/") Zeunic, LLC.
				p.muted.pull-left Orlando, July 2011 - May 2013 |&nbsp;
				p.pull-left owner; project manager; developer
				.clearfix
				ul
					li Day-to-Day Business Management
					li Project & Client Account Management
					li Server Side Development
					li Generated $500k+ Online Client Revenue
					li Achieved Over 1 million combined page views
			.well
				h3 Freelance Developer
				p.muted.pull-left Orlando, Nov 2009 - July 2011 |&nbsp;
				p.pull-left self-employed; web developer; front-end designer
				.clearfix
				ul
					li Consulted with clients to define project vision and goals
					li Produced Solutions for multiple small businesses
					li Balanced multiple projects, school, and life
			.well
				h3 inBurst Design Solutions
				p.muted.pull-left Northern Colorado, 2003 - 2006 |&nbsp;
				p.pull-left owner; web developer; front-end designer
				.clearfix
				ul
					li Collaborated with local Industry Leaders
					li Active Chamber of Commerce Member
					li Produced Solutions for multiple small and medium sized businesses
			h2 Education
			.row
				.span4
					.well
						h4: a(href="http://www.fullsail.edu/") Full Sail University
						p.muted 2009 - 2011
						p Bachelor of Science
							br
							| Major in Web Design & Development
				.span4
					.well
						h4 Online Courses / Self Taught
						p.muted 1999 - Current
						p Familiar with multiple venues of online, on-going learning