extends layout

block content
	.hero-unit
		h1 Sometimes I make things.
		p Throughout my career and education, I've had some really neat opportunities to make things.
			| In the web industry, you don't have to be a designer to be creative. Sometimes I look at
			| the paintbrushes and wish that I could twirl them about and produce the visuals. Fortunately, despite
			| having two left thumbs, I think I've managed to find a way to still be a creative, passionate
			| individual.

		p I can live with that.

	h4(style="text-align: center") Sadly, the content for this page isn't ready just yet.

//
	.row
		.span4
			.well
				h4 Project
				p Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue.
			.well
				h4 Project 2
				p Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue.
			.well
				h4 Project 3
				p Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue.
			.well
				h4 Project 4
				p Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue.
		.span8
			h2 Project Details
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.