body
	image '/img/bg.png'
	padding 30px 0 70px


// Home, Hero Unit

.hero-unit
	.span3
		margin 0 20px 0 0

		.carousel-inner
			width auto

	.carousel-indicators
		position relative
		width 60px
		overflow hidden
		margin 5px auto
		right auto

		li
			background-color #eee
			cursor hand
		.active
			background-color #ccc

	.big-round
		border-radius 50%;
		border 7px solid #e1e1e1
		overflow hidden

	.big-round .carousel
		margin-bottom 0

	.big-round img
		width 100%

// Contact Icons

.icon
	background url('/img/v3-circle-icons.svg')
	margin 0 20px 0 0
	text-indent -99999px
	display block
	float left
	width 30px
	height 30px
	background-position -867px -435px
	&.twitter
		background-position -867px -435px
		&:hover
			background-position -435px -435px
	&.github
		background-position -867px -219px
		&:hover
			background-position -435px -219px
	&.linkedin
		background-position -615px -291px
		&:hover
			background-position -183px -291px

// #quote_ousel

#quote_ousel
	height 350px

	.carousel-control
		color #da7e18
		background none
		border none
		opacity .8
		position static
		margin-top 0
		font-size 40px
		font-weight 400
		margin 0 auto
		display block
		width 15px
		border-radius 0
		text-shadow 2px 0 4px rgba(0,0,0,.2);
		vertical-align bottom

// Menu

.nav
	i.pull-right
		margin-top 5px
		margin-left 5px

#menu
	box-shadow 0px -5px 20px 0px rgba(0, 0, 0, .5);

	.dropdown-menu
		[class^="icon-"]
			margin 2px 4px 0 0

#menu .brand
	line-height 30px
	color #da7e18

.jr
	text-indent -99999px
	display inline-block
	width 32px
	height 32px
	margin -5px 0 0 5px
	background url('/files/icons/icon_32x32x32.png') no-repeat center center