#quote_ousel.carousel.slide
	.carousel-inner.big-round
		.active.item
			p.well Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
			h4.pull-right &#151; Person Noun
			.clearfix
			p.pull-right Director of Stuff
		.item
			p.well Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
		.item
			p.well Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis.
	//a.carousel-control.left(href='#quote_ousel', data-slide='prev') ‹
	//a.carousel-control.right(href='#quote_ousel', data-slide='next') ›
	//ol.carousel-indicators
		//li.active(data-target='#quote_ousel', data-slide-to='0')
		//li(data-target='#quote_ousel', data-slide-to='1')
		//li(data-target='#quote_ousel', data-slide-to='2')
