#quote_ousel.carousel.slide.row
	.span1
		a.carousel-control.left(href='#quote_ousel', data-slide='prev') ‹

	.carousel-inner.big-round.span6
		.active.item
			p.well You have an amazing attitude &amp; willingness to challenge your status quo. Don't ever let that go.
			h4.pull-right &#151; Rick Osborne
			.clearfix
			p.pull-right Director of Stuff
		.item
			.well
				p Stephen has bailed me out more times than I like to admit. Our project is very fast paced, stressful, and some times high tension.
				p He consistently came through professionally, and promptly, and made many last minute saves to ensure our project went as smooth as it could.
				p He's the real deal. HE ROCKS!!
			h4.pull-right &#151; Darren Lynn Bousman
			.clearfix
			p.pull-right Director
		.item
			p.well You're the ABSOLUTE BEST!

	.span1
		a.carousel-control.right(href='#quote_ousel', data-slide='next') ›
