extends ../layout

block content

	.container
		h1(style='text-align: center;') Nice to meet you, I'm Stephen.

		- var date = new Date().getFullYear()
		.row
			p.span6.offset3 I'm a #{date - 1984} year old entrepreneur-slash-project manager-slash-web developer.
				| I have a #{date - 2004} year old daughter, and I currently reside in Florida.
				| I guess I'll just chatter about myself a bit, and I don't plan on including a TL;DR.
				| Well, currently.
		.row
			.span6.offset3
				h3 Leading up to here...
				p A very long time ago, I used to wake up before the sun in order to use the 28.8k modem.
					| Back then, I had my own custom installer for IE5.5, an 800 page PHP book, and I was trying to
					| put together a help-doc site on how to program BASIC and Assembler for the 68k processors.
					| Which mostly means I was homeschooled and liked to program my TI-83+, and could only use the
					| internet during 5 & 7 am.
		.row
			p.span3.offset3 I've since found that I love development, because of the opportunities it gives me to
				| stretch my mind, solve problems, and be creative. I'd certainly love to be the hipster graphics
				| artist making some amazing artwork, but my hands just don't quite move the way my brain thinks they do.
			blockquote.span3
				p You have an amazing attitude &amp; willingness to challenge your status quo. Don't ever let that go.
				small
					| Rick Osborne
					br
					cite Program Manager, Web Design & Development at Full Sail University

		.row
			.span6.offset3
				h3 Nowdays...
				p Lately I've been growing up a lot. As my 20s close, I'm learning to take all of my passions
					| and combined them with the experience to gain some direction on my life.
				p I really love Javascript, and trying to be part of development / tech communities. I'm currently
					| pursuing a career working with&nbsp;
					a(href="http://nodejs.org") node.js
					|  and am enjoying being an active member of the community and contributing as best I can.

				p My main foci are professional &amp; self improvement, increasing my skills as a developer,
					| being a super dad, and learning to never accept things below my standards.

				p That's all I've got for now.

